<!--Section: Block Content-->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <section class="mb-5">

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">

                        <div id="mdb-lightbox-ui"></div>

                        <div class="mdb-lightbox">
                            <div class="row product-gallery mx-1">
                                <div *ngIf="this.productSercice.productDetail.products[0].imgUrl" class="col-12 mb-0">
                                    <figure class="view overlay rounded z-depth-1 main-img">
                                        <a [href]="this.productSercice.productDetail.products[0].imgUrl" data-size="710x823">
                                            <img *ngIf="this.productSercice.productDetail.products[0].imgUrl" class="img-fluid z-depth-1" alt="Bologna" [src]="product.imgUrl">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <h3>{{this.productSercice.productDetail.products[0].name}}</h3>
                        <p class="mb-2 text-muted text-uppercase small">{{this.productSercice.productDetail.products[0].brand}}</p>
                        <!-- <app-rating-events></app-rating-events> -->
                        <p><span class="mr-1"><strong>{{this.productSercice.productDetail.products[0].price}} $</strong></span></p>
                        <h5 class="pt-1">{{this.productSercice.productDetail.products[0].description}}</h5>
                        <!-- <div class="table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                                        <td>Shirt 5407X</td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                                        <td>Black</td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                                        <td>USA, Europe</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                        <hr>
                        <!-- <div class="card">
                            <div class="row">
                                <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
                                <div class="col-10">
                                    <div class="comment-box ml-2">
                                        <h4>Add a comment</h4>
                                        <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>                                            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                                        <div class="comment-area"> <textarea class="form-control" placeholder="what is your view?" rows="4"></textarea> </div>
                                        <div class="comment-btns mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="pull-left"> <button class="btn btn-success btn-sm">Cancel</button> </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="pull-right"> <button class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>

            </section>
            <!--Section: Block Content-->

        </div>
    </div>
</div>
<app-footer></app-footer>