<app-header></app-header>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col" *ngFor="let product of productsArray">
            <div class="card" style="width: 14rem;">
                <img *ngIf="product.imgUrl" class="card-img-top" alt="Bologna" [src]="product.imgUrl">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{product.category}}</h6>
                    <div class="card-body text-center">
                        <!-- <app-rating-events></app-rating-events> -->
                        
                        <h6 class="mb-3">
                            <span class="text-danger mr-1">{{product.price}}</span>
                            <span class="text-grey"><s>{{product.price + 300}}</s></span>
                        </h6>

                        <button type="button" class="btn btn-danger btn-sm mr-1 mb-2" (click)="addTocart(product._id)">
                         <i class="fa fa-shopping-cart pr-2"><a  routerlinkactive="text-danger" > Add to cart</a></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                          <i class="fa fa-info-circle pr-2"><a (click)="getSpecificProductById(product._id)" >Details</a></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<app-footer></app-footer>