<div class="d-flex flex-column justify-content-center align-items-center text-center">

    <div class="profile-img">
        <img [src]="admin.imgUrl" alt="no img found">
    </div>
    <div class="profile-detail">
        <p>{{ admin.username }}</p>
        <p>{{ admin.email }}</p>
    </div>
    <div class="controls">
        <ul>
            <li (click)="showProducts()">Products</li>
            <li (click)="showOrders()">Orders</li>
            <li (click)="showUsers()">Users</li>
        </ul>
    </div>
    <!-- logout -->
    <button class="btn btn-light" *ngIf="isLoginAsAdmin()" (click)="logout(); " routerLink="/logout ">logout</button>

</div>
