  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark info-color-dark fixed-top scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#!" style="font-weight: 500;">
            MarKeto
        </a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link waves-light" aria-current="page" (click)="home();" routerLink="/home" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" aria-current="page" (click)="aboutus();" routerLink="/aboutus" mdbWavesEffect>About Us</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link waves-light" aria-current="page" (click)="products();" routerLink="/products" mdbWavesEffect>Products</a>
        </li>

        <li class="nav-item">
            <!-- <a class="nav-link waves-light" (click)="blog();" routerLink="/blog" mdbWavesEffect>Blog</a> -->
        </li>
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item">
                <a class="nav-link mt-2" routerlink="/search" (click)="search();">
                    <mdb-icon fas icon="search"></mdb-icon>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" *ngIf="!isLogin()" (click)="login();" routerLink="/login">sign in</a>
                            <a class="dropdown-item" *ngIf="!isLogin()" (click)="register()" routerLink="/register">Register</a>
                            <a class="dropdown-item" *ngIf="isLogin()" routerLink="/profile">profile</a>
                            <a class="dropdown-item" *ngIf="isLogin()" (click)="logout(); " routerLink="/logout ">logout</a>
                           
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-2" (click)="orderspage(); " routerLink="/orders "> 
                    <span class="badge text-light badge-pill bg-dark">
                        <div class="cart_value">{{noOfcartItem}}</div>
                    </span> 
                    <mdb-icon fas icon="shopping-cart"></mdb-icon>
                </a>
            </li>

       
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->