<div class="container-block">

    <div class="main-block">
        <h1>Registration</h1>

        <span *ngIf="successMsg">
            <ngb-alert type="success" [dismissible]="false">
                {{successMsg}}
            </ngb-alert>
        </span>

        <span *ngIf="errorMsg">
            <ngb-alert type="danger" [dismissible]="false">
                {{errorMsg}}
            </ngb-alert>
        </span>

        <form [formGroup] = RegForm>
            <br>
            <!-- username input -->
            <label id="icon" for="username"><fa-icon [icon]="faUser"></fa-icon></label>
            <input type="text" formControlName="username" name="username" id="username" placeholder="Username"/>

            <!-- handling username errors on submit -->
            <div *ngIf="usernameError" class="text-light my-2" role="alert">
                {{usernameError}}
            </div>

            <!-- email input -->
            <label id="icon" for="email"><fa-icon [icon]="faEnvelope"></fa-icon></label>
            <input type="text" formControlName="email" name="email" id="email" placeholder="E-mail"/>

            <!-- handling email errors on submit-->
            <div *ngIf="emailError" class="text-light my-2" role="alert">
                {{emailError}}
            </div>
            <!-- password input -->
            <label id="icon" for="password"><fa-icon [icon]="faLock"></fa-icon></label>
            <input type="password" formControlName="password" name="password" id="password" placeholder="Password"/>
            
            <!-- handling password errors on submit -->
            <div *ngIf="passwordError" class="text-light my-2" role="alert">
                {{passwordError}}
            </div>

            
            <hr>
    
            <div class="btn-block">
                <p>Already have an account? <a routerLink="login">Sign In</a>.</p>
                <button type="submit" (click)="register()">Sign Up</button>
            </div>
        </form>
      </div>

      <div class="img-block">

      </div>

</div>
