.card{
    min-height: 400px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.3); 
    margin-top: 140px;
}
.welcome h1{
    font-size: 35px;
}
.welcome h1 span{
    color: #ad264a;
    font-size: 50px;
    font-weight: 600;
}
.welcome p{
    font-size: 15px;
}
hr{
    opacity: 0.2;
    width: 50%;
}
.welcome p span{
    color: #ad264a;
    font-size: 25px;
    font-weight: 500;
}
button.btn{
    background-color: #ad264a;
    border: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3); 
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 30%;
}
button.btn:hover{
    color: #fff;
    background-color: #2E2E2E;
}
input[type=text],select{
    margin-left: 10px;
    border-radius: 5px;
}