form input{
    width: calc(100% - 57px);
    height: 42px;
    padding-left: 10px; 
    border-radius: 5px;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    outline: none;
    color: #282224;
}
.btnSubmit {
    border: none;
    border-radius: 1rem;
    padding: 1%;
    margin: 5px;
    width: 20%;
    background: #2794B5;
    color: #fff;
}


.imgBlock{
    background: url("/assets/bg3.jpg") no-repeat center;
    background-size:cover;
    width: 100%; 
    height: 500px;
}