<!-- Default form subscription -->
<br>
<br>
<br>
<br>
<br>
<div class="container ">
    <div class="col-6">
        <form class="text-center border border-light p-5" form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p class="h4 mb-4">Subscribe</p>

            <p>Join our mailing list. We write rarely, but only with the best content.</p>

            <p>
                <a href="" target="_blank">See the last newsletter</a>
            </p>
            <input matInput type="text" placeholder="username" class="form-control mb-4" formControlName="username" required>
            <p *ngIf="isFieldInvalid('username')">
                Please inform your username

            </p>

            <input matInput type="password" class="form-control mb-4" placeholder="password" formControlName="password" required>
            <p *ngIf="isFieldInvalid('password')">
                Please inform your password
            </p>

            <!-- Sign in button -->
            <button mdbbtn class="bg-info" class="btnSubmit" (click)="onSubmit();" type="submit">Sign in</button>


        </form>
        <!-- Default form subscription -->
    </div>
</div>