<!-- Default form subscription -->
<app-header></app-header>
<div class="container mt-5">
    <div class="row g-0">
        <div class="col-md-6">
            <form class="text-center p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    
                <p class="h4 mb-4">login</p>
    
                <div *ngIf="errorMsg" class="alert alert-danger text-center">
                    {{ errorMsg }}
                </div>
    
                <input matInput type="text" placeholder="username" class="form-control mb-4" formControlName="username" required autofocus>
                <p *ngIf="isFieldInvalid('username')">
                    Please inform your username
    
                </p>
    
                <input matInput type="password" class="form-control mb-4" placeholder="password" formControlName="password" required>
                <p *ngIf="isFieldInvalid('password')">
                    Please inform your password
                </p>
    
                <!-- Sign in button -->
                <button mdbbtn class="bg-info" class="btnSubmit" (click)="onSubmit();" type="submit">Sign in</button>
    
    
            </form>
            <!-- Default form subscription -->
        </div>
        <div class="col-md-6">
            <div class="imgBlock">
    
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>