<br>
<br>

<app-slider-brief></app-slider-brief>

<br>
<div class="container">
   
    <h2 class="text-center"> Products </h2>
    <br>
    <div class="row">
        <div class="col">
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
    <br>
</div>


<app-bg-review></app-bg-review>
<div class="container">
    <div class="row">
        <div class="col-4">
            <app-review></app-review>
        </div>

        <div class="col-4">
            <app-review></app-review>
        </div>

        <div class="col-4">
            <app-review></app-review>
        </div>
    </div>
</div>
<br>
<br>