<app-header></app-header>
<br>
<br>
<br>
<br>
<div class="cart_section">
    <h2>
        Cart
    </h2>
    <div class="table-resposive">
        <table>
            <tr>
                <th>image</th>
                <th>price</th>

                <th>quantity</th>
                <th>sub total</th>
                <th>remove item</th>
            </tr>
            <!-- <tr *ngFor="let getCartDetails of productDetails"> -->
            <tr>
                <td><img src="{{getCartDetails.image}}"></td>
                <td>{{getCartDetails.amount}}</td>
                <td>333</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>

        </table>
    </div>
</div>

<app-footer></app-footer>