<!--Section: Block Content-->
<section>



    <!-- Grid column -->
    <div class=" mb-4">

        <!-- Card -->
        <div class="">

            <div class="view overlay z-depth-2 rounded">
                <img class="img-fluid" src="https://cdn11.bigcommerce.com/s-1xt05gm9ao/images/stencil/640w/uploaded_images/blog-t3.jpg?t=1564714006" alt="Sample">

                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <div class="pt-4">


                <p class="small text-muted text-uppercase mb-3">by
                    <a class="text-reset"><strong>marthasteward </strong></a>
                    <a class="text-reset float-right">February 20, 2020</a>
                </p>
                <h3>A Street style with maggie</h3>
                <p class="text-multiline-truncate">Pellentesque fermentum ipsum sit amet dolor tincidunt, sit amet ullamcorper urna tristique. Morbi
                </p>
                <a routerLink="/readmore" class="text-dark deep-orange-lighter-hover">Read more...</a>
                <hr>

            </div>



        </div>
        <!-- Card -->

    </div>
    <!-- Grid column -->


    <!-- Grid row -->

</section>
<!--Section: Block Content-->