<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <h3>Style story kim bucci A Business Women </h3>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://cdn11.bigcommerce.com/s-1xt05gm9ao/images/stencil/640w/uploaded_images/blog-t3.jpg?t=1564714006" alt="Sample">
        </div>
    </div>
    <br>
    <p class="small text-muted text-uppercase mb-3">by
        <a href="#!" class="text-reset"><strong>marthasteward </strong></a>
        <a href="#!" class="text-reset float-right">February 20, 2020</a>
    </p>
    <p>
        Pellentesque fermentum ipsum sit amet dolor tincidunt, sit amet ullamcorper urna tristique. Morbi at lobortis erat, quis euismod tellus. Suspendisse tempor dictum euismod. Nullam ullamcorper nulla in dictum commodo. Etiam venenatis enim sit amet pulvinar
        eleifend. Etiam pharetra volutpat sollicitudin
    </p>
    <p>
        Vivamus eleifend nisi eu nunc commodo, non ultricies lorem lobortis. Vivamus fermentum, nulla at vulputate pellentesque, risus eros egestas magna, ac dignissim justo velit pretium odio. Quisque sed felis tristique, porttitor orci vel, hendrerit mi. Quisque
        ullamcorper dui nec massa vestibulum pharetra. Quisque convallis sed risus placerat tincidunt. Vestibulum nibh nunc, consequat nec bibendum ac, varius a mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus id nisi id ipsum
        molestie malesuada ac vel ligula.
    </p>
    <h5>
        The Art Of The Smile
    </h5>
    <p>
        In suscipit id libero eget aliquet. Nunc pulvinar ex at posuere fermentum. Vestibulum et sapien ut mi rhoncus tempor. Cras vitae enim sit amet velit volutpat ultricies. Aliquam eget orci risus. Nunc a nibh blandit ex malesuada dictum quis tincidunt nisl.
        Ut eu mi eu dui faucibus viverra. Phasellus quis nisi ac erat ornare condimentum. Suspendisse dignissim id mauris id bibendum. Donec sit amet sapien enim. Donec diam dui, mollis in ultricies ac, scelerisque ac augue. Maecenas convallis magna id
        ipsum imperdiet eleifend.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    </p>
    <h6>
        Someone famous in Source Title
    </h6>
    <ul>
        <p>
            Believe it or not I'm walking flipper lives in a world full of wonder flying You wanna be where everybody knows Your name. They're creepy and they're kooky mysterious and spooky they are all together ooky the addams family.
        </p>
        <li>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </li>
        <li>
            Aliquam tincidunt mauris eu risus
        </li>
        <li>
            Vestibulum auctor dapibus neque
        </li>
    </ul>
    <p>
        The role of a brand ambassador is still as important as ever. So much consideration goes into this search. Much like casting, an actress or celebrity is representing your brand so you cannot compromise on the aesthetic and philosophy. There has to be
        a natural synergy. So long as this partnership is authentic and genuine, the role of the ambassador will always be necessary as it gives viewers an opportunity to see the products on real people and in real-world scenarios.
    </p>

</div>