<footer class="page-footer font-small bg-light pt-4">
    <div class="container">
        <!-- Footer -->
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-4 col-sm-12">

                    <!-- Content -->
                    <h5 i18n="@@headline" class="text-uppercase text-dark ">About MarKeto</h5>
                    <p i18n="@@desc" class="text-dark">All You Need and More in Just One Place...</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-4 col-sm-12">

                    <!-- Links -->
                    <h5 i18n="@@myaccount" class="text-uppercase text-dark">My Account</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a i18n="@@orders" routerLink="/cart" class="text-dark deep-orange-lighter-hover">Orders</a>
                        </li>
                        <li>
                            <a i18n="@@wishlist" routerLink="/cart" class="text-dark deep-orange-lighter-hover">Wish Lists</a>
                        </li>
                        <li>
                            <a i18n="@@login" routerLink="/login" class="text-dark deep-orange-lighter-hover">Sign in</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-4 col-sm-12">

                    <!-- Links -->
                    <h5 i18n="@@info" class="text-uppercase text-dark">Information</h5>

                    <ul class="list-unstyled ">
                        <li>
                            <a i18n="@@aboutus" routerLink="/aboutus"  class="text-dark deep-orange-lighter-hover">About Us</a>
                        </li>
                        
                        <!-- <li>
                            <a routerLink="/blog" class="text-dark deep-orange-lighter-hover">Blog</a>
                        </li> -->
                        <li>
                            <a i18n="@@brands" routerLink="/products" class="text-dark deep-orange-lighter-hover">Brands</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-lg-none pb-3">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-12 col-sm-12">

                    <!-- Links -->
                    <ul class="list-unstyled text-center">
                        <li>
                            <p i18n="@@online" class="text-dark">
                                <mdb-icon fas icon="home" class="mr-3 text-dark"></mdb-icon>Online
                            </p>
                        </li>
                        <li>
                            <p class="text-dark">
                                <mdb-icon fas icon="envelope" class="mr-3 text-dark"></mdb-icon> https://MarKeto.com/
                            </p>
                        </li>
                        <li>
                            <p class="text-dark">
                                <mdb-icon fas icon="phone" class="mr-3 text-dark"></mdb-icon> Phone:+0100000000
                            </p>
                        </li>

                    </ul>
                </div>

            </div>
            
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="row text-center">
                <div i18n="@@rights" class="col-lg-12 col-sm-12 text-dark">
                    © 2021 monar All Rights Reserved. Powered by BigCommerce
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png" alt="PayPal acceptance mark">
                </div>
            </div>
            <br>
            <!-- Copyright -->
        </div>

        <!-- Footer -->
    </div>
</footer>