<footer class="page-footer font-small bg-light pt-4">
    <div class="container">
        <!-- Footer -->
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-dark ">About MarKeto</h5>
                    <p class="text-dark">All You Need and More in Just One Place...</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-2">

                    <!-- Links -->
                    <h5 class="text-uppercase text-dark">My Account</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/cart" class="text-dark deep-orange-lighter-hover">Orders</a>
                        </li>
                        <li>
                            <a routerLink="/cart" class="text-dark deep-orange-lighter-hover">Wish Lists</a>
                        </li>
                        <li>
                            <a routerLink="/login" class="text-dark deep-orange-lighter-hover">Sign in </a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-2">

                    <!-- Links -->
                    <h5 class="text-uppercase text-dark">Information</h5>

                    <ul class="list-unstyled ">
                        <li>
                            <a routerLink="/aboutus"  class="text-dark deep-orange-lighter-hover">About Us</a>
                        </li>
                        
                        <!-- <li>
                            <a routerLink="/blog" class="text-dark deep-orange-lighter-hover">Blog</a>
                        </li> -->
                        <li>
                            <a routerLink="/products" class="text-dark deep-orange-lighter-hover">Brands</a>
                        </li>

                    </ul>

                </div>
                <div class="col-5">

                    <!-- Links -->

                    
                    <ul class="list-unstyled">
                        <li>
                            <p class="text-dark">
                                <mdb-icon fas icon="home" class="mr-3 text-dark"></mdb-icon> Online
                            </p>
                        </li>
                        <li>
                            <p class="text-dark">
                                <mdb-icon fas icon="envelope" class="mr-3 text-dark"></mdb-icon> https://MarKeto.com/
                            </p>
                        </li>
                        <li>
                            <p class="text-dark">
                                <mdb-icon fas icon="phone" class="mr-3 text-dark"></mdb-icon> Phone:+0100000000
                            </p>
                        </li>

                    </ul>
                </div>

            </div>
            <br>
            <!-- Footer Links -->
            <br>
            <br>
            <br>
            <!-- Copyright -->
            <div class="row">
                <div class="col-6 text-dark">
                    © 2021 monar All Rights Reserved. Powered by BigCommerce
                </div>
                <div class="col-6">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard">
                    <img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png" alt="PayPal acceptance mark">
                </div>
            </div>
            <br>
            <!-- Copyright -->
        </div>

        <!-- Footer -->
    </div>
</footer>